<div class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" *ngFor="let inf of info; let i = index;" [class.active]="active === i" data-toggle="tab" routerLink="/navigator" [queryParams]="{ tabs: i}" role="tab" aria-controls="nav-home" aria-selected="true">
        {{ inf.type }}</a>
    </div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" *ngFor="let inf of info; let i = index;" role="tabpanel" [ngClass]="active === i ? 'active show' : ''">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Account</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let d of inf.data; let id=index;">
            <th scope="row">{{ id + 1 }}</th>
            <td>{{ d.name.first }}</td>
            <td>{{ d.amount }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nav>
</div>
